.score-div, .hand-div{
    display: flex;
    justify-content:space-evenly;
}
.button-div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
button{
   border-radius: 50%;
   height: 120px;
   width: 120px;
}
.rock{
    background-color:#BC9E82;
}
.paper{
    background-color: #F9FBFF;
}
.scissors{
    background-color: silver;
}
.score-left, .player-hand{
    background-color:#18122B;
    padding: 18px;
    width: 240px;
}
.score-right, .computer-hand{
    background-color:#27374D ;
    width: 240px;
    padding: 18px;
}
.announcer{
    text-align: center;
    width: 240px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404258;
    min-height: 100vh;
    justify-content: center;
    padding-bottom: 200px;
}
.player-hand, .computer-hand{
    font-weight: bold;
}
.score-left, .score-right{
    color: white;
    font-weight: bold;
}